 html{
font-family: 'Poiret One', cursive;
}

h1{
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  margin: 10px auto;
  width: 100px;
}

.summaryWrapper{
  position: absolute;
  padding: 5px;
  left: 38%;
  border: 1px solid #DEDEDC;
  width: 60%;
  display: inline-block;
  top: 30px;
  background-color: #E9EBEE;
  box-shadow: 1px 1px 8px #DEDEDC;
  border-radius: 3px;

}

.familyWrapper{
  border: 1px solid #DEDEDC;
  padding: 5px;
  width: 32%;
  top: 30px;
  position: absolute;
  right: 64%;
  height: 500px;
  background-color: #E9EBEE;
  box-shadow: 1px 1px 8px #DEDEDC;
  border-radius: 3px;
  }
