<div class="container">
<h1>New loved one</h1>
<div class="members">
  <form class="familyMember" >

    <div class="large" >
      <label for="firstName">First Name </label>
      <input type="text" name="firstName" ng-model="member.firstName" required>
    </div>

    <div class="large">
      <label for="lastName">Last Name </label>
      <input type="text" name="lastName" ng-model="member.lastName" required>
    </div>

    <div class="large">
      <label for="Phone">Phone # </label>
      <input type="tel" name="phoneNumber" ng-model="member.phoneNumber" required>
    </div>

    <div class="large">
      <label for="Relationship">Relationship </label>
      <input type="text" name="relationship" ng-model="member.relationship" required>
    </div>


    <input type="submit" value="Add!" ng-click="saveMember()" >
    <input type="submit" value="cancel" ng-click="cancel()" >


  </form>
</div>
</div>
